<li>
  <a href="#abbreviations">Abbreviations and acronyms</a>
  <!-- 
  <ul class="nav">
    <li><a href="#">[optional sublist]</a></li>
  </ul>  -->
</li>
<li>
    <a href="#capitalization">Capitalization</a>
</li>
<li>
  <a href="#headings">Headings</a>
</li>
<li>
  <a href="#lists">Lists</a>
</li>
<li>
  <a href="#names_and_terms">Names and terms</a>
</li>
<li>
  <a href="#numbers">Numbers</a>
</li>
<li>
  <a href="#dates_and_times">Dates and times</a>
</li>
<li>
  <a href="#punctuation">Punctuation</a>
</li>
<li>
  <a href="#content_page_elements">Content page elements</a>
</li>
<li>
  <a href="#seo">Search engine optimization</a>
</li>
<!-- <li>
  <a href="#writing_tips">Tips for writing online</a>
</li>  
-->