body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Header - Default 50px height header
=================================================================== */
.navbar-brand {
	height: 50px;
	width: 170px;
}
/* TN logo resize */
.navbar-brand img {
	height: 30px;
}
/* Overwrite sabre.css */
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}